/* Color Theme Swatches in Hex */

$primary: #1F3A8A;
$secondary: #F3F4F6;
$btn-post: #E7B108;
$btn-card-details: #C7D2FE;
$card-details: #F3F4F6;
$font-color: #eeeeee;
$btn-search: #3B82F5;
$btn-details-font: #4438CA;
$bg-post-job: #1E40AF;
$btn-save: #24C55E;
$btn-cancel: #EF4444;
$pagination: #007BFF;
